<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzq.shopservice.mapper.ShopsMapper">

    <resultMap id="BaseResultMap" type="com.fzq.shopservice.model.domain.Shops">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="shopName" column="shopName" jdbcType="VARCHAR"/>
            <result property="avatarUrl" column="avatarUrl" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="shopLevel" column="shopLevel" jdbcType="INTEGER"/>
            <result property="shopScore" column="shopScore" jdbcType="DECIMAL"/>
            <result property="shopStatus" column="shopStatus" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,shopName,avatarUrl,
        description,shopLevel,shopScore,
        shopStatus,createTime,updateTime,
        isDelete
    </sql>
</mapper>
